%h1 Sign-In
= form_tag sessions_create_url do
  .field
    = label_tag :email
    = text_field_tag :email
  .field
    = label_tag :password
    = password_field_tag :password
  .action
    = submit_tag "Sign In"