%h1 Welcome #{current_user.full_name}!

= render 'mentor_mode'


- if current_user.unread_messages.any? 

  %h2 Your New Messages
  %table
    - current_user.unread_messages.find(:all, group: "apprenticeship_id").each do |message|
      %tr
        %td
          - @new_message = message.apprenticeship
          = link_to "#{pluralize(current_user.unread_messages.where(user_id: message.sender.id).count, 'message')} from #{message.sender.full_name}", apprenticeship_url(message.apprenticeship), id: dom_id(message.apprenticeship), remote: true

  - if !current_user.apprenticeships.any?
    %h3{:style => "text-align: center;"}
      You currently have no apprenticeships. Why not add some? 
    
    %p= link_to "Add A New Apprenticeship", new_apprenticeship_url, class: "button", style: "width: 100%;"

#top_section