%h1 Welcome #{current_user.full_name}!

= render 'mentor_mode'

%hr

%h2 Your New Messages

- current_user.unread_messages.each do |message|
  %p= "#{message.sender.full_name} says '#{message.text}'"     
      
/ %p Full Name: #{current_user.full_name}
/ %p Email: #{current_user.email}
/ %p Description: #{current_user.description}
/ 
/ = link_to "Edit Account", edit_user_url(current_user)
