<p>
  <%= link_to "Apprenticeships", apprenticeships_url %> > 
  <%= link_to "Current Apprenticeship", apprenticeship_url(current_apprenticeship) %> >
  Resources
</p>
<h1>Resources</h1>
<table>
  <tr>
    <th>Link</th>
    <th></th>
    <th>Description</th>
    <th></th>
    <th></th>
  </tr>
  <%= render @resources %>
</table>
<hr />
<%= form_for @resource, :url => apprenticeship_resources_url do |f| %>
  <div class="field">
    <%= f.label :link, "Link: " %>
    <%= f.text_field :link, :placeholder => "http://codeacademy.org"%> <em>(kindly include "http://")</em>
  </div>
  <div class="field">
    <%= f.label :title, "Title: " %>
    <%= f.text_field :title, :placeholder => "Code Academy Website"%>
  </div>
  <div class="field">
    <%= f.label :description, "Description: " %>
    <%= f.text_field :description, :style => "width: 400px;", :placeholder => "Write something here..."%>
  </div>
  <div class="action">
    <%= f.submit "Add Resource" %>
  </div>
<% end %>
<br />