- if @apprenticeships.any? 
  %table
    %tr
      %th.table_center Student
      %th.table_center Mentor
      %th
      %th
      %th

    - @apprenticeships.each do |apprenticeship|
      %tr
          
        %td.table_center
          - if current_user == apprenticeship.student
            %strong You
          - else
            = apprenticeship.student.full_name
        %td.table_center
          - if current_user == apprenticeship.mentor
            %strong You
          - else
            = apprenticeship.mentor.full_name
            
        %td.table_center
          = link_to "Messages #{"(#{current_user.unread_messages.where(apprenticeship_id: apprenticeship.id).count})" unless current_user.unread_messages.where(apprenticeship_id: apprenticeship.id).count == 0 }", apprenticeship_url(apprenticeship)

        %td.table_center
          = link_to "Meetups #{"(#{current_user.unread_meetups.where(apprenticeship_id: apprenticeship.id).count})" unless current_user.unread_meetups.where(apprenticeship_id: apprenticeship.id).count == 0 }", apprenticeship_meetups_url(apprenticeship)

        %td.table_center
          = link_to "Resources #{"(#{current_user.unread_resources.where(apprenticeship_id: apprenticeship.id).count})" unless current_user.unread_resources.where(apprenticeship_id: apprenticeship.id).count == 0 }", apprenticeship_resources_url(apprenticeship)
        
- else

  %h3{:style => "text-align: center;"}
    You currently have no apprenticeships. Why not add some? 
    
%p= link_to "Add A New Apprenticeship", new_apprenticeship_url, class: "button", style: "width: 100%;"
