#messages_wrap
  = paginate @messages
  
  = form_for @message, url: messages_url(id: current_apprenticeship) do |f|
    .field
      = f.label "Send a message: "
      = f.text_field :text, style: 'width: 300px; height: 25px', placeholder: "Write something here..."
      = f.submit "Send", class: "button", style: "width: 80px"

  %table
    = render @messages