<h1>Your Apprenticeships</h1>

<p><%= link_to "Add A New Apprenticeship", new_apprenticeship_url %></p>

<table>
  <tr>
    <th>Number</th>
    <th>Student</th>
    <th>Mentor</th>
    <th></th>
    <th></th>
  </tr>
  <% @apprenticeships.each do |apprenticeship| %>
    <% student = apprenticeship.student ; mentor = apprenticeship.mentor %>
    <tr>
      <td>Apprenticeship #<%= apprenticeship.id %>:</td>
      <td><%= current_user == student ? "You" : student.full_name %></td>
      <td><%= current_user == mentor ? "You" : mentor.full_name %></td>
      <td><%= link_to "See Messages", apprenticeship_messages_url(apprenticeship) %></td>
      <td><%= link_to "See Apprenticeship", apprenticeship_url(apprenticeship) %></td>
    </tr>
  <% end %>
</table>