<h1>Your Apprenticeships</h1>

<p><%= link_to "Add Apprenticeship", new_apprenticeship_url %></p>

<table>
  <tr>
    <th class="table_center">Number</th>
    <th class="table_center">Student</th>
    <th class="table_center">Mentor</th>
    <th></th>
    <th></th>
  </tr>
  <% @apprenticeships.each do |apprenticeship| %>
    <% student = apprenticeship.student ; mentor = apprenticeship.mentor %>
    <tr>
      <td class="table_center"><%= link_to "See Apprenticeship", apprenticeship_url(apprenticeship) %></td>
      <td class="table_center">
        <% if current_user == student %>
          <strong>You</strong>
        <% else %>
          <%= student.full_name %>
        <% end %>
      </td>
      <td class="table_center">
        <% if current_user == mentor %>
          <em><strong>You</strong></em>
        <% else %>
          <%= mentor.full_name %>
        <% end %>
      </td>
      <td><%= link_to "Resources", apprenticeship_resources_url(apprenticeship) %></td>
    </tr>
  <% end %>
</table>
