<h1>Add a New Apprenticeship</h1>

<h3>Your Mentor Mode is currently turned: <strong><%= link_to current_user.mentor ? "ON" : "OFF" , toggle_url %></strong> (click to switch)</h3>
<h4>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<em>(If turned on, you are open to new users adding you as their mentor)</em></h4>

<table>
  <tr>
    <td></td>
    <td>Name</td>
  </tr>
<% @available_mentors.each do |mentor| %>
  <tr>
    <td class="table_column_left"><%= link_to "Add Mentor", apprenticeships_url(:id => mentor.id), :method => :post %></td>
    <td><strong><%= mentor.full_name %></strong> says "<em><%= mentor.description %></em>"</td>
  </tr>
<% end %>
</table>

<%= paginate @available_mentors %>