<p><%= link_to "Apprenticeships", apprenticeships_url %> > Current Apprenticeship</p>
<h1><%= @apprenticeship.student == current_user ? " #{@mentor.full_name} is your mentor" : "#{@student.full_name} is your student"%></h1>
                                                                                                                    
<h3><%= link_to "Meetups", apprenticeship_meetups_url(current_apprenticeship) %> |
<%= link_to "Resources", apprenticeship_resources_url(current_apprenticeship) %></h3>

<hr />



<div id="corkboard">
<h3>Corkboard</h3>
<div class="clr"></div>

<div id="board"><%= on_the_spot_edit @corkboard, :notes, :type => :textarea, :rows => 20, :columns => 31 %></div></div>

<div id="messages_wrap">
<h3 class="messages_header">Messages</h3>

<%= paginate @messages %>

<%= form_for @message, :url => messages_url(id: current_apprenticeship) do |f|%>
  <div class="field">
    <%= f.label "Send a message: " %>
    <%= f.text_field :text, :style=>'width: 300px; height: 25px;', :placeholder => "Write something here..." %>
    <%= f.submit "Send" %>
  </div>
<% end %>

<table><%= render @messages %></table>

</div>