<!DOCTYPE html>
<html>
<head>
  <title>Code Academy Apprenticehips</title>
  
  <%= stylesheet_link_tag 'blueprint/screen', :media => "screen, projection" %>
  <%= stylesheet_link_tag 'blueprint/print', :media => "print" %>
  <!--[if lt IE8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif] -->
  
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">

  <h1><strong>Code Academy Apprenticeships</strong></h1>

  <% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
  <% end %>

  <div class="clr"></div>

  <div>
    <% if logged_in? %>
      <div id="user_nav_right">
        Welcome <strong><%= current_user.full_name %></strong>! | 
        <%= link_to "Apprenticeships", apprenticeships_url %> | 
        <%= link_to "Account Settings", user_url(current_user) %> | 
        <%= link_to "Sign Out", signout_url, :method => :delete %>
      </div>
    <% else %>
      <div id="user_nav_left">
        <%= link_to "Sign Up", signup_url %> | 
        <%= link_to "Sign In", signin_url %>
      </div>
    <% end %>
    <div class="clr"></div>
    <br />
  </div>

  <hr />
  <%= yield %>
</div>

</body>
</html>
