<!DOCTYPE html>
<html>
<head>
  <title>Code Academy Apprenticehips</title>
  
  <%= stylesheet_link_tag 'blueprint/screen', :media => "screen, projection" %>
  <%= stylesheet_link_tag 'blueprint/print', :media => "print" %>
  <!--[if lt IE8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif] -->
  
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">

  <h1>Code Academy Apprenticeships</h1>

  <div>
    <p><% if logged_in? %>
      Welcome <%= current_user.full_name %>! | 
      <%= link_to "Apprenticeships", apprenticeships_url %> | 
      <%= link_to "Sign Out", signout_url, :method => :delete %>
    <% else %>
      <%= link_to "Sign In", signin_url %>
    <% end %></p>
  </div>

  <% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
  <% end %>
  <hr />
  <%= yield %>
  <%= debug(params) if Rails.env.development? %>  
</div>

</body>
</html>
