!!! html
%html
  %head
    %title Code Apprentice
    = stylesheet_link_tag 'blueprint/screen', media: 'screen, projection'
    = stylesheet_link_tag 'blueprint/print', media: 'print'
    / [if lt IE8]><haml:loud> stylesheet_link_tag 'blueprint/ie' </haml:loud><![endif]
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    #container
      %h1
        = link_to image_tag('code_academy_logo.png', :style => 'width: 5 0px; height: 50px;'), root_url
        Code Academy Apprentice

      - flash.each do |key, value|
        %div{:class => "flash #{key}"}= value
    
      .clear
    
      #user_nav
        - if logged_in?
          #right
            Welcome
            = succeed "!" do
              %strong= current_user.full_name
            = link_to "Apprenticeships", apprenticeships_url
            = link_to "Account Settings", user_url(current_user)
            = link_to "Sign Out", signout_url, :method => :delete
        - else
          #left
            = link_to "Sign Up", signup_url
            = link_to "Sign In", signin_url
      .clear
      
      %hr      
      = yield
      %hr

      #feedback
        = form_tag feedbacks_create_url do
          = label_tag :text, "Hooray for your feedback!"
          %br
          = text_area_tag :text
          %br
          = submit_tag "Send Feedback"
      %br
      #footer
        &#169; Apprenticeship App | Luis Vega | 2011 | 
        = mail_to "luiscvega@gmail.com", "Email Me"
        = link_to "Blog", "http://hungryfoolishcrazyone.tumblr.com/"
        = link_to "See the code on Github!", "http://github.com/luiscvega/apprenticeship_app_v2"